@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Concert One', cursive;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #11172b;
}


.card{
    width: 130px;
    height: 130px; 
    position: relative;
    backface-visibility: hidden;
    transform-style: preserve-3d; /*Transformar em 3D apra que o backface visibily funcione*/
    transition: transform 0.75s; /*Deixar a animação suave*/
}

/* Padrões da carta! */

.card-front, .card-back{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45)
}

.flip{
    transform: rotateY(180deg);
}

.card-front{
    background-color: #14213d;
    transform: rotateY(180deg);
}

.card-back{
    background-color: #fca311;
    color: #14213d;
    font-size: 30px;
}

#gameOver{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    flex-direction: column;
}

#restart{
    font-size: 20px;
    padding: 20px;
    background-color: #fca311;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

#gameBoard {
    max-width: 700px;
    /**usando display: grid */
    display: grid;
     /**
    agora definimos o template do grid, onde 
     a primeira conf são as linha depois as colunas */
    grid-template: 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr;

    gap: 20px;

}

@media  screen and (max-width: 1537px) {
    #gameBoard {
        max-height: 100vh;
        max-width: 100%;
        grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr
      }
}